@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.slider-rooms__content:before, .actions-product__link:before, .slide__price:before, .init .menu-footer__title:before, .contacts-footer__item::before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before, .init .menu-footer__title:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e906";
}

.icon-location:before {
  content: "\e900";
}

.icon-arrow-link:before {
  content: "\e902";
}

.icon-cart:before {
  content: "\e903";
}

.icon-heart:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e905";
}

.icon-send:before {
  content: "\e907";
}

.icon-share:before {
  content: "\e908";
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.modal-window {
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
          transform: translateY(-200px);
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
.modal-title {
  font-size: 1.5rem;
}
.modal-close {
  font-size: 2rem;
  background: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}
.modal-body {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
  padding: 5px 10px;
  border-top: 1px solid #eee;
}
.modal.open .modal-overlay,
.modal.open .modal-window {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.modal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.modal.open .modal-window {
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

button, input {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
button:active, button:focus, input:active, input:focus {
  outline: 1px rgba(255, 158, 180, 0.5);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-height: 48px;
}
.btn._fw {
  width: 100%;
}
.btn_white {
  color: #E89F71;
  background: #fff;
}
@media (any-hover: hover) {
  .btn_white:hover {
    color: #fff;
    background: #E89F71;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  color: #3a3a3a;
  font-family: "Gilroy";
  font-size: 16px;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.flyImg._ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  display: block;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  list-style: none;
}
.nav-menu__item {
  background: #4e4e4e;
}
.nav-menu__link {
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}
@media (max-width: 767.98px) {
  .header {
    min-height: 5px;
  }
}
.header.scroll .header__wrapper {
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header.scroll .header__body {
  min-height: 50px;
}
@media (min-width: 767.98px) {
  .header.scroll .header__body {
    min-height: 70px;
  }
}
.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  min-height: 125px;
  position: relative;
}
@media (max-width: 991.98px) {
  .header__body {
    min-height: 80px;
  }
}
@media (max-width: 767.98px) {
  .header__body {
    min-height: 50px;
  }
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.8387096774%;
          flex: 0 0 39.8387096774%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .header__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.header__logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #000;
  position: relative;
  z-index: 5;
}
.header__search {
  padding-right: 32px;
}
@media (max-width: 1270px) {
  .header__search {
    padding-right: calc(15px + 17 * ((100vw - 320px) / (950)));
  }
}
@media (min-width: 991.98px) {
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 420px;
          flex: 0 1 420px;
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: calc(100% - 30px);
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #fcf3f8;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }
  .menu__body:before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 60px;
    background: #fcf3f8;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 6;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body.active:before {
    left: 0;
  }
}
@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.menu__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8px;
  margin-left: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__arrow.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #E89F71;
}
@media (max-width: 767.98px) {
  .menu__arrow {
    font-size: 14px;
    color: #3a3a3a;
  }
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3px;
  padding: 5px 0;
  position: relative;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .menu__item:hover .menu__arrow,
.menu__item:hover .menu__link {
    color: #E89F71;
  }
}
@media (min-width: 767.98px) {
  .menu__item._hover .menu__sub-list {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item._hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .menu__item._hover .menu__arrow,
.menu__item._hover .menu__link {
    color: #E89F71;
  }
}
.menu__link {
  font-weight: 500;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 24px;
  }
}
.menu__sub-list {
  position: relative;
  background: #E89F71;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 15px;
  z-index: 5;
}
@media (min-width: 767.98px) {
  .menu__sub-list {
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
            transform: translate(0, 10px);
    visibility: hidden;
    min-width: 200px;
    top: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
  }
}
@media (max-width: 767.98px) {
  .menu__sub-list {
    margin: 0 -15px 0 -15px;
  }
}
.menu__sub-item:not(:last-child) {
  margin: 0 0 5px 0;
}
@media (max-width: 767.98px) {
  .menu__sub-item:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
.menu__sub-link {
  color: #fff;
  line-height: 120%;
}
.menu__sub-link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__sub-link {
    font-size: 18px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 20px;
    margin-left: 32px;
  }
}
@media (max-width: 767.98px) and (max-width: 1270px) {
  .icon-menu {
    margin-left: calc(15px + 17 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 767.98px) {
  .icon-menu:before, .icon-menu:after,
.icon-menu span {
    content: "";
    background-color: #3a3a3a;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
}
@media (max-width: 767.98px) {
  .icon-menu:before {
    top: 0;
  }
}
@media (max-width: 767.98px) {
  .icon-menu span {
    top: 9px;
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .icon-menu:after {
    bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .icon-menu.active span {
    opacity: 0;
  }
  .icon-menu.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .icon-menu.active:after {
    -webkit-transform: rotate(-45deg) translateY(-50%);
        -ms-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
    bottom: 9px;
  }
}

.search-form {
  max-width: 473px;
  width: 100%;
}
.search-form.active .search-form__item {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.search-form.active .search-form__icon {
  color: #E89F71;
}
.search-form__icon {
  position: relative;
  z-index: 5;
  color: #262F56;
  font-size: 22px;
}
@media (min-width: 991.98px) {
  .search-form__icon {
    display: none;
  }
}
.search-form__item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .search-form__item {
    -webkit-box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
            box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    position: absolute;
    left: 0;
    width: 100%;
    top: -100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.search-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
  color: #333;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-form__input {
  font-size: 14px;
  color: #616161;
  width: 100%;
  padding-right: 20px;
}

.actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
@media (max-width: 1270px) {
  .actions-header {
    gap: calc(15px + 17 * ((100vw - 320px) / (950)));
  }
}
.actions-header__item-favorite {
  color: #262F56;
  font-size: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .actions-header__item-favorite:hover {
    color: #E89F71;
  }
}
.actions-header__item_user {
  width: 40px;
  height: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 1270px) {
  .actions-header__item_user {
    width: calc(30px + 10 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .actions-header__item_user {
    height: calc(30px + 10 * ((100vw - 320px) / (950)));
  }
}

.cart-list {
  overflow: auto;
  max-height: 200px;
}
.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.cart-item:not(:last-child) {
  margin: 0 0 15px 0;
}
.cart-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
}
.cart-item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 10px;
}
.cart-item__title {
  color: inherit;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 0.3125em;
}
@media (any-hover: hover) {
  .cart-item__title:hover {
    color: #E89F71;
  }
}
.cart-item__qty {
  font-size: 14px;
  margin-bottom: 0.3571428571em;
}
.cart-item__delete {
  color: #b40e0e;
  padding: 3px 5px;
  cursor: pointer;
  font-weight: 600;
}

.cart-header__icon {
  color: #262F56;
  font-size: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  display: block;
}
@media (any-hover: hover) {
  .cart-header__icon:hover {
    color: #E89F71;
  }
}
.cart-header__icon span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -10px;
  right: -10px;
  background: #E89F71;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-family: inherit;
}
.cart-header__body {
  top: 60px;
  position: absolute;
  border: 1px solid #e0e0e0;
  background: #f4f5f7;
  right: 0;
  width: 300px;
  padding: 15px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0, -20px);
      -ms-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.active .cart-header__body {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.footer-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #000;
}
@media (max-width: 1270px) {
  .footer-title {
    font-size: calc(20px + 4 * ((100vw - 320px) / (950)));
  }
}
@media (min-width: 767.98px) {
  .footer-title {
    margin-bottom: 0.6666666667em;
  }
}
.footer__body {
  border-top: 1px solid #d8d8d8;
  display: grid;
  grid-template-columns: 250px 2fr 290px;
  padding-top: 80px;
  padding-bottom: 60px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
@media (max-width: 1270px) {
  .footer__body {
    padding-top: calc(30px + 50 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .footer__body {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .footer__body {
    -webkit-column-gap: calc(1px + 79 * ((100vw - 320px) / (950)));
       -moz-column-gap: calc(1px + 79 * ((100vw - 320px) / (950)));
            column-gap: calc(1px + 79 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1282px) {
  .footer__body {
    grid-template-columns: 1fr 290px;
    grid-template-rows: auto auto;
  }
}
@media (max-width: 991.98px) {
  .footer__body {
    display: block;
  }
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1282px) {
  .footer__main {
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
}
@media (max-width: 1282px) and (max-width: 1270px) {
  .footer__main {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / (950)));
  }
}
.footer__text {
  color: #616161;
  margin-bottom: 1em;
  line-height: 150%;
}
@media (max-width: 1282px) {
  .footer__menu {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media (max-width: 991.98px) {
  .footer__menu {
    margin-bottom: 40px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .footer__menu {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1282px) {
  .footer__subscribe {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
@media (max-width: 1270px) {
  .contacts-footer {
    gap: calc(10px + 6 * ((100vw - 320px) / (950)));
  }
}
.contacts-footer__item {
  color: #616161;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gilroy" !important;
  line-height: 150%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contacts-footer__item::before {
  margin-right: 8px;
}
@media (any-hover: hover) {
  .contacts-footer__item:hover {
    color: #E89F71;
  }
}

@media (min-width: 767.98px) {
  .menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 767.98px) {
  .menu-footer__colunm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}
@media (max-width: 767.98px) {
  .menu-footer__colunm {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) and (max-width: 1270px) {
  .menu-footer__colunm {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / (950)));
  }
}
@media (min-width: 767.98px) {
  .menu-footer__title {
    margin-bottom: 0.6666666667em;
  }
}
@media (max-width: 767.98px) {
  .menu-footer__title {
    cursor: pointer;
  }
}
.init .menu-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.init .menu-footer__title:before {
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu-footer__title.active:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.menu-footer__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.menu-footer__list li:not(:last-child) {
  margin: 0 0 16px 0;
}
@media (max-width: 767.98px) {
  .menu-footer__list {
    padding-top: 15px;
  }
}
.menu-footer__link {
  color: #616161;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #E89F71;
  }
}

.subscribe__title {
  margin-bottom: 0.6666666667em;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #E89F71;
  font-size: 24px;
  margin-left: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .subscribe__btn:hover {
    background: #e28349;
  }
}
.subscribe .input {
  width: 100%;
  padding: 0 12px;
  background-color: #F4F5F7;
  font-size: 16px;
  line-height: 24px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main-slider {
  background: #FCF8F3;
}
.main-slider__container {
  position: relative;
}
@media (min-width: 991.98px) {
  .main-slider__container:before {
    content: "";
    background: #F9F1E7;
    position: absolute;
    top: 0;
    width: 100vw;
    right: 376px;
    height: 100%;
  }
}
.main-slider__body {
  padding-top: 140px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .main-slider__body {
    padding-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .main-slider__body {
    padding-top: 50px;
  }
}
@media (min-width: 991.98px) {
  .main-slider__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
  }
}
.main-slider__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.8387096774%;
          flex: 0 0 39.8387096774%;
}
.main-slider__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.content-main {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  background: rgba(255, 255, 255, 0.72);
}
@media (max-width: 1270px) {
  .content-main {
    padding-top: calc(15px + 45 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .content-main {
    padding-bottom: calc(15px + 45 * ((100vw - 320px) / (950)));
  }
}
.content-main:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 1270px) {
  .content-main:not(:last-child) {
    margin-bottom: calc(15px + 45 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 991.98px) {
  .content-main {
    margin: 0 -15px;
  }
}
@media (min-width: 991.98px) {
  .content-main {
    -webkit-backdrop-filter: blur(31px);
            backdrop-filter: blur(31px);
    padding: 60px;
  }
}
@media (min-width: 991.98px) and (max-width: 1270px) {
  .content-main {
    padding: calc(1px + 59 * ((100vw - 320px) / (950)));
  }
}
.content-main__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 1270px) {
  .content-main__title {
    font-size: calc(24px + 32 * ((100vw - 320px) / (950)));
  }
}
.content-main__title:not(:last-child) {
  margin: 0 0 0.2857142857em 0;
}
.content-main__text {
  font-size: 20px;
  color: #898989;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 1270px) {
  .content-main__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / (950)));
  }
}
.content-main__text:not(:last-child) {
  margin: 0 0 2.4em 0;
}
.content-main__btn {
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  color: #fff;
  min-height: 78px;
  font-size: 20px;
  background: #E89F71;
  width: 100%;
}
@media (max-width: 1270px) {
  .content-main__btn {
    min-height: calc(45px + 33 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .content-main__btn {
    font-size: calc(16px + 4 * ((100vw - 320px) / (950)));
  }
}
@media (any-hover: hover) {
  .content-main__btn:hover {
    background: #e28349;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 991.98px) {
  .slider {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
@media (min-width: 991.98px) {
  .slider__controls {
    margin-left: 32px;
  }
}
@media (max-width: 991.98px) {
  .slider__controls {
    margin-top: 10px;
  }
}
.slider__dots {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 991.98px) {
  .slider__dots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slider__arrows, .tips__slider__arrows, .slider-rooms__arrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.slider__arrow {
  pointer-events: auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(232, 159, 113, 0.3);
  color: #E89F71;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 12px;
}
@media (any-hover: hover) {
  .slider__arrow:hover {
    background: #e89f71;
    color: #fff;
  }
}
.slider__arrow_white {
  background: #fff;
  -webkit-box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}
.slider__arrow_prev:before {
  -webkit-transform: rotate(90deg) translateY(1px);
      -ms-transform: rotate(90deg) translateY(1px);
          transform: rotate(90deg) translateY(1px);
}
.slider__arrow_next:before {
  -webkit-transform: rotate(-90deg) translateY(1px);
      -ms-transform: rotate(-90deg) translateY(1px);
          transform: rotate(-90deg) translateY(1px);
}
.slider__body {
  overflow: visible;
  min-width: 0;
}
@media (min-width: 991.98px) {
  .slider__body {
    width: 934px;
  }
}
@media (min-width: 991.98px) and (max-width: 1270px) {
  .slider__body {
    width: calc(290px + 644 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 991.98px) {
  .slider__body {
    margin: 0 -15px;
  }
}
.slider__image {
  padding-bottom: 59.16%;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 1;
}
.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  position: relative;
}
.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  height: 27px;
  cursor: pointer;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swiper-pagination-bullet:after {
  content: "";
  width: 11px;
  height: 11px;
  background: #d8d8d8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
}
.swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #E89F71;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.swiper-pagination-bullet-active:after {
  background: #E89F71;
}
.swiper-pagination-bullet-active:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.slide {
  position: relative;
}
.slide__content {
  min-width: 295px;
  max-height: 300px;
  overflow: auto;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
}
@media (max-width: 1270px) {
  .slide__content {
    padding: calc(15px + 9 * ((100vw - 320px) / (950)));
  }
}
@media (min-width: 767.98px) {
  .slide__content {
    position: absolute;
    min-width: 350px;
    right: 40px;
    bottom: 40px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(31px);
            backdrop-filter: blur(31px);
  }
}
@media (min-width: 767.98px) and (max-width: 1270px) {
  .slide__content {
    right: calc(0px + 40 * ((100vw - 320px) / (950)));
  }
}
@media (min-width: 767.98px) and (max-width: 1270px) {
  .slide__content {
    bottom: calc(0px + 40 * ((100vw - 320px) / (950)));
  }
}
.slide__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
}
@media (max-width: 1270px) {
  .slide__title {
    font-size: calc(20px + 8 * ((100vw - 320px) / (950)));
  }
}
.slide__title:not(:last-child) {
  margin-bottom: 0.1666666667em;
}
.slide__text {
  line-height: 120%;
  color: #898989;
}
.slide__text:not(:last-child) {
  margin-bottom: 0.5em;
}
.slide__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 150%;
  font-family: "Gilroy" !important;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 1270px) {
  .slide__price {
    font-size: calc(16px + 4 * ((100vw - 320px) / (950)));
  }
}
.slide__price:before {
  margin-left: 10px;
  font-size: 14px;
}

.advantages {
  padding-top: 88px;
  padding-bottom: 88px;
}
@media (max-width: 1270px) {
  .advantages {
    padding-top: calc(30px + 58 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .advantages {
    padding-bottom: calc(30px + 58 * ((100vw - 320px) / (950)));
  }
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__item {
  display: grid;
  grid-template-columns: 85px 1fr;
  grid-template-rows: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}
@media (max-width: 991.98px) {
  .advantages__item {
    min-width: 280px;
  }
}
.advantages__icon {
  grid-column: 1/2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.advantages__title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  margin-bottom: 0.1111111111em;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.advantages__text {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
}

.products {
  padding-bottom: 44px;
}
@media (max-width: 1270px) {
  .products {
    padding-bottom: calc(30px + 14 * ((100vw - 320px) / (950)));
  }
}
.products__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 32px;
}
.products__footer {
  padding-top: 32px;
  text-align: center;
}
.products__more {
  min-width: 285px;
  border: 1px solid #E89F71;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 0.8em;
}
@media (max-width: 1270px) {
  .title {
    font-size: calc(24px + 16 * ((100vw - 320px) / (950)));
  }
}

.item-product {
  background: #f4f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media (any-hover: hover) {
  .item-product:hover .item-product__actions {
    opacity: 1;
    visibility: visible;
  }
}
.item-product__labels {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 24px;
  top: 24px;
}
@media (max-width: 1270px) {
  .item-product__labels {
    right: calc(10px + 14 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .item-product__labels {
    top: calc(10px + 14 * ((100vw - 320px) / (950)));
  }
}
.item-product__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.item-product__label:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-product__label_sale {
  background: #E97171;
}
.item-product__label_new {
  background: #2EC1AC;
}
.item-product__image {
  padding-bottom: 105.6140350877%;
}
.item-product__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 16px 16px 30px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-product__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-product__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}
@media (max-width: 1270px) {
  .item-product__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / (950)));
  }
}
.item-product__title:not(:last-child) {
  margin: 0 0 0.3333333333em 0;
}
.item-product__text {
  color: #898989;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 0.3333333333em 0;
}
.item-product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 150%;
}
.item-product__price {
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 1270px) {
  .item-product__price {
    font-size: calc(16px + 4 * ((100vw - 320px) / (950)));
  }
}
.item-product__price_old {
  font-weight: normal;
  font-size: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #B0B0B0;
  margin-left: 16px;
}
@media (max-width: 1270px) {
  .item-product__price_old {
    font-size: calc(14px + 2 * ((100vw - 320px) / (950)));
  }
}
@media (any-hover: none) {
  .item-product__actions {
    padding-top: 15px;
  }
}
@media (any-hover: hover) {
  .item-product__actions {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(58, 58, 58, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.actions-product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.actions-product__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.actions-product__button:not(:last-child) {
  margin: 0 0 24px 0;
}
.actions-product__button.hold {
  opacity: 0.2;
  cursor: default;
}
.actions-product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: inherit;
  font-family: "Gilroy" !important;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.actions-product__link:before {
  font-size: 16px;
  margin-right: 10px;
}
@media (any-hover: hover) {
  .actions-product__link {
    color: #fff;
  }
  .actions-product__link:hover {
    color: #E89F71;
  }
}

.rooms {
  background: #FCF8F3;
  padding-top: 44px;
  padding-bottom: 44px;
}
@media (max-width: 1270px) {
  .rooms {
    padding-top: calc(30px + 14 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .rooms {
    padding-bottom: calc(30px + 14 * ((100vw - 320px) / (950)));
  }
}
@media (min-width: 991.98px) {
  .rooms__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.rooms__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5%;
          flex: 0 0 37.5%;
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .rooms__body {
    margin-bottom: 30px;
  }
}
.rooms__title {
  text-align: left;
}
.rooms__title:not(:last-child) {
  margin: 0 0 0.2em 0;
}
.rooms__text {
  font-weight: 500;
  line-height: 150%;
  max-width: 370px;
  color: #616161;
}
.rooms__text:not(:last-child) {
  margin: 0 0 24px 0;
}
.rooms__button {
  min-width: 180px;
  background: #E89F71;
  color: #fff;
}
@media (any-hover: hover) {
  .rooms__button:hover {
    background: #e28349;
  }
}
.rooms__slider {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (max-width: 479.98px) {
  .rooms__slider {
    margin: 0 -15px;
  }
}

.slider-rooms {
  position: relative;
}
.slider-rooms__body {
  overflow: visible;
  position: relative;
}
.slider-rooms__body:before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  left: 0;
  background: #FCF8F3;
  z-index: 2;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.slider-rooms__slide {
  width: 372px;
  overflow: hidden;
  min-height: 585px;
}
@media (max-width: 1270px) {
  .slider-rooms__slide {
    min-height: calc(400px + 185 * ((100vw - 320px) / (950)));
  }
}
.slider-rooms__slide.swiper-slide-active .slider-rooms__image {
  height: 100%;
}
@media (max-width: 479.98px) {
  .slider-rooms__slide {
    width: 100%;
  }
}
.slider-rooms__image {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 767.98px) {
  .slider-rooms__image {
    height: 83%;
  }
}
.slider-rooms__content {
  position: absolute;
  color: inherit;
  font-family: "Gilroy" !important;
  max-width: 240px;
  padding: 32px;
  bottom: 24px;
  left: 24px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
@media (max-width: 1270px) {
  .slider-rooms__content {
    padding: calc(15px + 17 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .slider-rooms__content {
    bottom: calc(15px + 9 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .slider-rooms__content {
    left: calc(15px + 9 * ((100vw - 320px) / (950)));
  }
}
.slider-rooms__content:before {
  position: absolute;
  left: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  background: #E89F71;
  color: #fff;
}
.slider-rooms__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
}
@media (max-width: 1270px) {
  .slider-rooms__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / (950)));
  }
}
@media (min-width: 767.98px) {
  .slider-rooms__dots {
    position: absolute;
    bottom: 30px;
    left: 396px;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .slider-rooms__dots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 15px;
  }
}
.slider-rooms__arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  width: calc(100% - 48px);
  left: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}
@media (min-width: 1282px) {
  .slider-rooms__arrows {
    width: calc(100% + 48px);
    left: -24px;
  }
}

.slider-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #616161;
}
.slider-label:not(:last-child) {
  margin: 0 0 8px 0;
}
.slider-label__line {
  height: 1px;
  width: 20px;
  background: #616161;
}
.tips__slider {
  position: relative;
  margin-bottom: 44px;
}
@media (max-width: 1270px) {
  .tips__slider {
    margin-bottom: calc(30px + 14 * ((100vw - 320px) / (950)));
  }
}
.tips__slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .tips__slider__slide:hover {
    -webkit-box-shadow: 0 0 32px rgba(94, 94, 94, 0.2);
            box-shadow: 0 0 32px rgba(94, 94, 94, 0.2);
  }
}
.tips__slider__image {
  padding-bottom: 64.1943734015%;
}
.tips__slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 15px;
}
.tips__slider__title {
  color: inherit;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1270px) {
  .tips__slider__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / (950)));
  }
}
@media (any-hover: hover) {
  .tips__slider__title:hover {
    color: #E89F71;
  }
}
.tips__slider__date {
  color: #898989;
  line-height: 150%;
  font-size: 14px;
}
.tips__slider__dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.tips__slider__arrows {
  position: absolute;
  pointer-events: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(100% - 48px);
  left: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1282px) {
  .tips__slider__arrows {
    width: calc(100% + 48px);
    left: -24px;
  }
}
@media (max-width: 479.98px) {
  .tips__slider__arrows {
    display: none;
  }
}
.tips__slider__body {
  overflow: hidden;
  margin-right: -30px;
  margin-left: -30px;
  padding: 30px;
}
@media (max-width: 1270px) {
  .tips__slider__body {
    margin-right: calc(-15px + -15 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .tips__slider__body {
    margin-left: calc(-15px + -15 * ((100vw - 320px) / (950)));
  }
}
@media (max-width: 1270px) {
  .tips__slider__body {
    padding: calc(15px + 15 * ((100vw - 320px) / (950)));
  }
}

.share__text {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 8px;
}
.share__title {
  margin: 0;
}
.share__body {
  position: relative;
}
@media (any-hover: none) {
  .share__body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.share__items {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
@media (any-hover: hover) {
  .share__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .share__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
.share__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -8px;
}
.share__column:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .share__column {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.share__row {
  display: inline-grid;
  padding: 0 8px;
  gap: 16px;
  grid-template-columns: auto;
  grid-auto-flow: column;
}
.share__row:not(:last-child) {
  margin: 0 0 16px 0;
}

.row-left-top {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.row-left-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.row-center {
  display: block;
}
.row-right-top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.row-right-bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}